<p>
    <mat-toolbar color="primary">
      <span>gridIMP</span>

      <span class="example-spacer"></span>
      
      <span> Time now -- </span>
      <span> {{timeNow}} </span>
    </mat-toolbar>
  </p>

  <div class="percentage-box" *ngFor="let item of arrayColor" [ngStyle]="{ 'background-color': item.color }">
	<ng-template [ngIf]="item.full == false">
		<div [ngStyle]="{ 'background-color': color, width: item.width, height: '155px' }"></div>
	</ng-template>
  </div>

  <div style="display: flex;">
    <mat-card style="flex: 1 1 auto;">
        <div class="example-container">
            <table mat-table [dataSource]="dataSource" class=" mat-elevation-z8">
    
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="period">
                  <th mat-header-cell *matHeaderCellDef> Period. </th>
                  <td mat-cell *matCellDef="let element"> {{element.period}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="stateofcharging">
                  <th mat-header-cell *matHeaderCellDef> State of charging. </th>
                  <td mat-cell *matCellDef="let element"> {{element.stateofcharging}} </td>
                </ng-container>
              
                <ng-container matColumnDef="charging">
                  <th mat-header-cell *matHeaderCellDef> Charging. </th>
                  <td mat-cell *matCellDef="let element"> {{element.charging}} </td>
                </ng-container>
              
                <ng-container matColumnDef="discharging">
                  <th mat-header-cell *matHeaderCellDef> Discharging. </th>
                  <td mat-cell *matCellDef="let element"> {{element.discharging}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Battery charging status. </th>
                  <td mat-cell *matCellDef="let element"> {{element.action}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef > Billing period. </th>
                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns" [class.color-header]="color"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.color-charging]="row.charging > 0" [class.color-discharging]="row.discharging > 0"></tr>
            </table>
      </div>
    </mat-card>
    <mat-card style="flex: 1 1 auto;"> 
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>grid IMP</mat-card-title>
              <mat-card-subtitle>Live battery status.</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="opacity: 0.5;" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <p>
                gridIMP live power details below.
              </p>
              <p>
                <b>Current Battery Status </b>  {{action}}
              </p>
              <p>
                <b>Current billing period </b>  {{liveBillingPeriod}}
              </p>
              <p>
                <b>Battery charge percentage now</b>  {{percentage}}%
              </p>
              <p *ngIf="liveCharginPerHour > 0">
                <b>Battery charging now in kWh</b>  {{liveCharginPerHour}}
              </p>
              <p *ngIf="liveDisharginPerHour > 0">
                <b>Battery discharging now in kWh</b>  {{liveDisharginPerHour}}
              </p>
            </mat-card-content>
          </mat-card>
    </mat-card>
</div>




  
  